In [1]:
#Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom.
import pandas as pd
ecomm = pd.read_csv( 'Ecommerce Purchases' )

In [2]:
#Check the head of the DataFrame.
ecomm.head(2)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73

In [3]:
#How many rows and columns are there?
ecomm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [4]:
#What is the average Purchase Price?
ecomm['Purchase Price'].mean()

50.34730200000025

In [5]:
#What were the highest and lowest purchase prices?
ecomm['Purchase Price'].max()

99.989999999999995

In [6]:
ecomm['Purchase Price'].min()

0.0

In [7]:
#How many people have English 'en' as their Language of choice on the website?
ecomm[ecomm['Language'] == 'en' ].count()

Address             1098
Lot                 1098
AM or PM            1098
Browser Info        1098
Company             1098
Credit Card         1098
CC Exp Date         1098
CC Security Code    1098
CC Provider         1098
Email               1098
Job                 1098
IP Address          1098
Language            1098
Purchase Price      1098
dtype: int64

In [8]:
#How many people have the job title of "Lawyer" ?
ecomm[ecomm['Job'] == 'Lawyer' ].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 470 to 9979
Data columns (total 14 columns):
Address             30 non-null object
Lot                 30 non-null object
AM or PM            30 non-null object
Browser Info        30 non-null object
Company             30 non-null object
Credit Card         30 non-null int64
CC Exp Date         30 non-null object
CC Security Code    30 non-null int64
CC Provider         30 non-null object
Email               30 non-null object
Job                 30 non-null object
IP Address          30 non-null object
Language            30 non-null object
Purchase Price      30 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 3.5+ KB

In [9]:
#How many people made the purchase during the AM and how many people made the purchase during PM ?
#(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) )
ecomm['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [10]:
#What are the 5 most common Job Titles?
ecomm['Job'].value_counts().head(5)

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Designer, jewellery                  27
Research officer, political party    27
Name: Job, dtype: int64

In [11]:
#Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?
ecomm[ecomm['Lot'] == '90 WT' ]['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

In [12]:
#What is the email of the person with the following Credit Card Number: 
ecomm[ecomm['Credit Card'] == 4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

In [18]:
#How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?

ecomm[ ( ecomm['CC Provider'] == "American Express" ) & ( ecomm['Purchase Price'] > 95.0 ) ].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

In [45]:
#Hard: How many people have a credit card that expires in 2025?
count = 0
for i in range( len( ecomm ) ):
    if ecomm['CC Exp Date'][i].split('/')[1] == '25':
       count = count + 1
    
count

1033

In [71]:
#Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)
def provider( df ):
    temp = pd.Series()
    for i in range( len( df ) ):
        temp = temp.set_value(i, df['Email'][i].split('@')[1].split('.')[0])
    
    return temp

provider(ecomm).value_counts().head(5)

hotmail     1638
yahoo       1616
gmail       1605
smith         69
williams      55
dtype: int64